<h2>{{title}}</h2>
<ul>
    <li><a href="https://ui-router.github.io" target="_blank">UI-Router</a></li>
    <li><a href="https://oclazyload.readme.io" target="_blank">ocLazyLoad</a></li>
    <li><a href="https://gulpjs.com" target="_blank">Gulp v4.0</a></li>
    <li><a href="https://yarnpkg.com" target="_blank">Yarn</a></li>
</ul>