<img src="./source-img/angular.png">
<h1>{{ home.title }}</h1>
<h2>Essential Links</h2>
<ul>
    <li><a href="https://angularjs.org" target="_blank">Core Docs</a></li>
    <li><a href="https://github.com/angular/angular.js" target="_blank">GitHub</a></li>
    <li><a href="https://plus.google.com/+AngularJS" target="_blank">Google+</a></li>
    <li><a href="https://twitter.com/angular" target="_blank">Twitter</a></li>
</ul>
<div home-directive title="Ecosystem" click-message="Clique aqui para carregar a Directive">Directive não está carregada.</div>